/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* Imports CSS styles */
@import url(components/banner.css);
@import url(components/btn-purple.css);
@import url(components/container.css);
@import url(components/card.css);
@import url(components/card-list.css);
@import url(components/footer.css);


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 500px) {
  /* For a screen < 500px, this CSS will be read */
  .container {
    width: 300px;
  }
}


/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
  background-color: lightgray;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */
